<!--<h1 class="md-title">Pick your culture below</h1>
<div layout="row">
  <md-input-container style="margin-right: 10px;">
    <label>culture</label>
    <md-select ng-model="culture" ng-change="saveCultureToCookie(culture);setCultureBasedOnCookie();">
      <md-option ng-repeat="culture in cultures" value="{{culture.id}}">{{culture.LanguageCountryRegion}}</md-option>
    </md-select>
  </md-input-container>
</div>-->

<h1>{{ 'INTRODUCTION' | translate }}</h1>
<p>{{ 'WELCOME' | translate }}</p>

<div ng-repeat="contact in contacts">
  <md-content>
    <div>
      <md-card md-theme="{{contact.favorite ? 'dark-blue' : 'dark-grey'}}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{contact.firstname}} {{contact.lastname}}</span>
            <span class="md-subhead">{{contact.address1}}</span>
            <span class="md-subhead">{{contact.address2}}</span>
            <span class="md-subhead">{{contact.city}}, {{contact.state}} {{contact.postalcode}}</span>
            <span class="md-subhead">{{contact.phone}}</span>
            <span class="md-subhead">{{contact.email}}</span>
            <span class="md-subhead">{{contact.dateofbirth}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img ng-src="{{contact.image}}">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="toggleFavorite(contact);" class="md-icon-button">
            <ng-md-icon icon="favorite"></ng-md-icon>
          </md-button>

          <md-button ng-click="remove(contact);" class="md-icon-button">
            <ng-md-icon icon="delete"></ng-md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>